/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kablammo";
}

.logo-bar {
  background-color: #303030;
}

nav {
  background-color: #1a1a1a;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  list-style: none;
  padding: 0.5rem 0.8rem;
  border-style: hidden solid hidden hidden;
  border-width: 1px;
  border-color: whitesmoke;
}

nav > ul > li > a {
  color: azure;
  text-decoration: none;
}

.search {
  display: flex;
  margin: auto 0 auto 1rem;
  color: azure;
}

#search {
  height: 1rem;
  margin: auto 1rem;
}

.content {
  display: flex;
  gap: 4rem;
}

/* article */
.article-card {
  margin: 2rem 1rem;
}

article {
  display: flex;
  gap: 1rem;
  margin: 2rem 1rem;
}

article > img {
  max-width: 150px;
}

/* sidebar */
.sidebar-right {
  float: right;
  max-width: 30%;
}
